body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(15, 19, 46), rgb(32, 61, 79));
}

canvas {
     
    
    display: block;
    margin: auto;
    max-width: 100%;
}

.startScreen {
    height: 200px;
}